body {
	text-align: center;
}
.back-link {
	background-color: grey;
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 8px;
	border: black solid 1px;
	margin: 20px auto;
	width: fit-content;
}
.back-link:hover {
	background-color: rgb(196, 196, 196);
	color: black;
}
button {
	margin: 50px auto;
}
